body {background-color: #75B13A}
h1 {color: 000000;font-family: Verdana; font-size: 30px;border-style: none; text-shadow: 2px 2px 5px white}
p {color: 000000;font-family: Verdana; font-size: 15px}
img {margin-left: 300px; border-style: dotted;}
ul {color: 000000; }
a{font-family: Verdana;color: 000000; text-decoration: none; ,}
a:hover {color: white}